@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/Account/Register">Register</a>
            <a href="/Account/Login">Login</a>
            <a href="/Account/Logout">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
